{
	"jbuniversal.product.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "0",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"properties": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "24d20439-3ceb-49dc-b965-b17498ef5af3"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "fbc7e6d8-a500-4a8d-8819-47963e04d7dc"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "00837676-3c48-4e02-82bb-33a1e174579e"
			}
		}
	},
	"jbuniversal.product.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "00837676-3c48-4e02-82bb-33a1e174579e"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "3e893a6c-b24d-43d3-8ae3-d31068eec62a"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "f9c851c6-1b24-4487-9f1a-98d4554daa2c"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"layout": "",
				"scroll_enable": "0",
				"auto_size_enable": "0",
				"button_text": "",
				"popup_width": "600",
				"popup_height": "400",
				"element": "70bd5788-c0d6-45a5-b848-b288660512b7"
			},
			"3": {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "5849f1b9-76ce-4128-b327-edae77756f32"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "fca08c90-3c88-4fbe-814b-2ffcbb521e08"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"count": "4",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_type": "0",
				"check_category": "1",
				"check_fields": {
					"0": "_itemname"
				},
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "",
				"link_to_item": "0",
				"columns": "0",
				"separated_by": "separator=[ ]",
				"element": "9ce9fcaa-b8ce-4538-9afa-8050114cc4bc"
			}
		}
	},
	"jbuniversal.product.ymlexport": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		}
	},
	"jbuniversal.product.favorite": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		}
	},
	"jbuniversal.product.quickview": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		}
	},
	"jbuniversal.product.compare": {
		"fields": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "8b6a8171-6750-491f-a612-af70e0bca6dc"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "24d20439-3ceb-49dc-b965-b17498ef5af3"
			}
		}
	}
}