{
	"jbuniversal.product.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "auto",
				"height": "250",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "922c2e58-e1e4-466c-9705-55c6985c47f1"
			}
		}
	},
	"jbuniversal.product.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "auto",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "auto",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "ad621344-9cc5-405a-a448-da3113ec5534"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "5ca85866-db96-4a24-be88-6c512adc8d5d"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "3d97f027-2a12-459d-965b-ecfdc8c0a7b4"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "c12ac894-3977-4337-ae62-77f839fc579a"
			},
			"4": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "b842c2d7-3e8f-494c-b2e2-5a015dcf5bdf"
			},
			"5": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "4b764347-294e-432b-80b1-5a750c40dfed"
			},
			"6": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "4efc904d-cae0-4be1-8cc2-c5d3a302cf42"
			},
			"7": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "7b1cdff9-6ab8-4226-b36a-0a9ddf7eb68a"
			},
			"8": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "7636b114-9077-424f-a299-19ee4f3f1967"
			},
			"9": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span class=\"dot\"><\/span><span>%s<\/span>]",
				"element": "973efd2b-98d6-4db4-95d7-6be590b26f65"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "922c2e58-e1e4-466c-9705-55c6985c47f1"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5a2a86fe-cb57-47d5-a6ad-48aa76849d0b"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"count": "4",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "1",
				"check_fields": {
					"0": "_itemcategory"
				},
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "1",
				"columns": "0",
				"separated_by": "tag=[<div class=\"col-xxl-12 col-xl-6 col-lg-12 col-12\">%s<\/div>]",
				"element": "a02de323-c731-4920-bb7c-779bd5733826"
			}
		}
	},
	"jbuniversal.product.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "auto",
				"height": "150",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"properties": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		}
	},
	"jbuniversal.product.ymlexport": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			}
		}
	}
}