{
	"jbuniversal.maslo-sklad.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "43bd900f-04ca-45e3-be48-67a9b56b8778"
			}
		},
		"button": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "a27e2021-0719-4111-ac61-8b914740a65a"
			}
		}
	},
	"jbuniversal.maslo-sklad.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"manufacturer": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "1ba7fe37-4199-49f0-aa02-93b1ad64069d"
			}
		},
		"tare": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "66600c66-74ef-4ff2-a5e6-97253cf881cd"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "a27e2021-0719-4111-ac61-8b914740a65a"
			}
		}
	},
	"jbuniversal.maslo.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "8d5af378-0c06-47d7-a13f-c8bedb8e5f7a"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "70afa667-34bb-4eab-b2e0-c040a75f19cb"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<p>%s<\/p>]",
				"display": "first",
				"element": "3739ebd4-9e82-446e-aa8c-0f7c5faa81a5"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "23839afb-9c9e-4cbf-b66b-097431b25add"
			}
		},
		"button": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "\u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435",
				"element": "_itemlink"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "e9d5e231-eeb1-4130-9d1c-5f8bd0aeb83f"
			}
		}
	},
	"jbuniversal.maslo.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "5298506d-25a3-41e3-bcd8-f619e7979998"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "400",
				"height": "500",
				"width_popup": "auto",
				"height_popup": "1200",
				"element": "23839afb-9c9e-4cbf-b66b-097431b25add"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": ""
				},
				"layout": "teaser",
				"link_to_item": "0",
				"limit": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "4d180bce-8ac3-411a-aa5c-8830aae74618"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "d39bf792-9736-47f2-bca0-4cb45d5e8143"
			}
		},
		"adaptation": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "3739ebd4-9e82-446e-aa8c-0f7c5faa81a5"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "a78607a2-9863-45f6-9410-2f77191a050a"
			}
		},
		"specifications": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "0e2c3a22-7e70-4e77-a4f6-40a6cb151f8b"
			}
		}
	},
	"jbuniversal.smazka.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "0c3da0bc-fd2c-42bb-a1f7-d43a18788bc8"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "1cbad6cd-8b83-41e6-a8d9-fcda552be0ce"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<p>%s<\/p>]",
				"display": "first",
				"element": "13bb272e-e88e-4a77-ba72-c32d80aba3e1"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "5f771aaa-d0d2-495f-94d0-26e9a21d9749"
			}
		},
		"button": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "\u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435",
				"element": "_itemlink"
			}
		}
	},
	"jbuniversal.sozh.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "05e9630e-6fde-411d-a3e3-ee2bd106e853"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "4a49e2b9-79f5-42bd-96f2-88a79d330a53"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<p>%s<\/p>]",
				"display": "first",
				"element": "57d932f9-f350-44e0-89e4-f38c8a680351"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "e214a438-caa5-4128-b6ce-01ad28c8a592"
			}
		},
		"button": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "\u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435",
				"element": "_itemlink"
			}
		}
	},
	"jbuniversal.smazka.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "ed0ed3ad-a41c-4394-88ad-89840170d097"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "auto",
				"height": "500",
				"width_popup": "auto",
				"height_popup": "1200",
				"element": "5f771aaa-d0d2-495f-94d0-26e9a21d9749"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": ""
				},
				"layout": "teaser",
				"link_to_item": "0",
				"limit": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "ac16c2cd-36f2-40c5-b705-87c066bb2744"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "a2291bee-9fd1-4313-8e6b-ac8d4992e5f7"
			}
		},
		"adaptation": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "13bb272e-e88e-4a77-ba72-c32d80aba3e1"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5e01fb93-40e8-4178-ba5e-7fba603d1a94"
			}
		},
		"specifications": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "bcfc1b3e-bb36-4639-af85-8d24c8438d50"
			}
		}
	},
	"jbuniversal.sozh.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "48808ea9-9f11-4108-ad49-2fb3b952e9a9"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "auto",
				"height": "500",
				"width_popup": "auto",
				"height_popup": "1200",
				"element": "e214a438-caa5-4128-b6ce-01ad28c8a592"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": ""
				},
				"layout": "teaser",
				"link_to_item": "0",
				"limit": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "2d5d1700-5f9a-490e-94e3-6dadafbf88fd"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "f39fef1f-925a-4f0c-a431-5fc5d7cf13ab"
			}
		},
		"adaptation": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "57d932f9-f350-44e0-89e4-f38c8a680351"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d018f987-5801-41a6-b4de-f451c434d687"
			}
		},
		"specifications": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "9dd76326-c033-423d-b3bd-448dc765f7fc"
			}
		}
	},
	"jbuniversal.sozh-sklad.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "fa2a62a5-ed44-4157-8745-cf6b7072f77a"
			}
		},
		"button": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "ad90dc4c-71a0-4f3d-a35e-04ae87da392d"
			}
		}
	},
	"jbuniversal.smazka-sklad.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "7a7addcf-406e-461c-9ace-a5b9ddd4a9e6"
			}
		},
		"button": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "103b323b-c943-40c0-851a-09572481bde3"
			}
		}
	},
	"jbuniversal.smazka-sklad.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"manufacturer": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "fe753ef2-0dad-4a41-87b8-e38bd87f2b01"
			}
		},
		"tare": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "8a34a0e5-bc7c-447c-935a-be5011e2aafd"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "103b323b-c943-40c0-851a-09572481bde3"
			}
		}
	},
	"jbuniversal.sozh-sklad.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"manufacturer": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "cef93368-e8d7-46db-9f0c-fe0ca656caed"
			}
		},
		"tare": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "fa7fb880-1822-4cb6-8864-b40cf9d8791c"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "ad90dc4c-71a0-4f3d-a35e-04ae87da392d"
			}
		}
	}
}