{
	"jbuniversal.maslo-sklad.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	},
	"jbuniversal.maslo-sklad.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "28e15719-69e0-48bd-b36a-e95ff2dfa13e"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "1ba7fe37-4199-49f0-aa02-93b1ad64069d"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "66600c66-74ef-4ff2-a5e6-97253cf881cd"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "05405fee-22f8-4a21-9c6b-3dbe317e39fa"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "c40215f1-b4d2-467d-ae67-a7323e89c817"
			}
		}
	},
	"jbuniversal.maslo.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	},
	"jbuniversal.maslo.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "791d692d-8e97-427f-81e8-b3c0627bcdc3"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "8d5af378-0c06-47d7-a13f-c8bedb8e5f7a"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "70afa667-34bb-4eab-b2e0-c040a75f19cb"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "05405fee-22f8-4a21-9c6b-3dbe317e39fa"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "c40215f1-b4d2-467d-ae67-a7323e89c817"
			}
		}
	}
}