{
	"jbuniversal.maslo.bootstrap": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "8d5af378-0c06-47d7-a13f-c8bedb8e5f7a"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "70afa667-34bb-4eab-b2e0-c040a75f19cb"
			}
		},
		"button": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "\u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435",
				"element": "_itemlink"
			}
		}
	},
	"jbuniversal.smazka.bootstrap": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "0c3da0bc-fd2c-42bb-a1f7-d43a18788bc8"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "1cbad6cd-8b83-41e6-a8d9-fcda552be0ce"
			}
		},
		"button": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "\u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435",
				"element": "_itemlink"
			}
		}
	},
	"jbuniversal.sozh.bootstrap": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "05e9630e-6fde-411d-a3e3-ee2bd106e853"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "4a49e2b9-79f5-42bd-96f2-88a79d330a53"
			}
		},
		"button": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "\u041f\u043e\u0434\u0440\u043e\u0431\u043d\u0435\u0435",
				"element": "_itemlink"
			}
		}
	}
}