{
	"jbuniversal.maslo.accordion": {
		"tab-1": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f",
				"jbzoo_filter_render": "category-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_category_mode": "none",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f",
				"element": "_itemcategory"
			}
		},
		"tab-2": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0422\u0438\u043f \u043c\u0430\u0441\u043b\u0430",
				"jbzoo_filter_render": "jbselectcascade",
				"jbzoo_filter_default": "",
				"jbzoo_filter_autocomplete": "0",
				"jbzoo_filter_placeholder": "\u0422\u0438\u043f \u043c\u0430\u0441\u043b\u0430",
				"element": "c60e59bd-47ec-4d57-95e5-cf3f505db48a"
			}
		},
		"tab-3": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "\u041f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "8d5af378-0c06-47d7-a13f-c8bedb8e5f7a"
			}
		},
		"tab-4": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "\u0422\u0430\u0440\u0430",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "70afa667-34bb-4eab-b2e0-c040a75f19cb"
			}
		}
	},
	"jbuniversal.maslo.default": {
		"fields": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438",
				"jbzoo_filter_render": "category-checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_category_mode": "none",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"element": "_itemcategory"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "74fd1456-b93a-462a-9800-1280dcf4aaa7"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "0",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "8d5af378-0c06-47d7-a13f-c8bedb8e5f7a"
			}
		}
	},
	"jbuniversal.smazka.accordion": {
		"tab-1": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f",
				"jbzoo_filter_render": "category-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_category_mode": "none",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f",
				"element": "_itemcategory"
			}
		},
		"tab-2": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "0",
				"jbzoo_filter_placeholder": "\u0422\u0438\u043f \u043f\u0440\u0438\u043c\u0435\u043d\u0435\u043d\u0438\u044f",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "0cfb5ac6-e6bf-432b-b2dc-d3966603b8a3"
			}
		},
		"tab-3": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"element": "596c2baa-8ba8-46fd-9eef-64090f06e75b"
			}
		},
		"tab-4": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "\u041f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "0c3da0bc-fd2c-42bb-a1f7-d43a18788bc8"
			}
		},
		"tab-5": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "\u0422\u0430\u0440\u0430",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "1cbad6cd-8b83-41e6-a8d9-fcda552be0ce"
			}
		}
	},
	"jbuniversal.smazka.tomflon": {
		"fields": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"jbzoo_filter_render": "_auto_",
				"jbzoo_filter_default": "",
				"jbzoo_filter_autocomplete": "0",
				"jbzoo_filter_placeholder": "",
				"element": "d90ed5cb-77f2-4c7d-b3b0-9be14cf2042e"
			}
		}
	},
	"jbuniversal.smazka.default": {
		"fields": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438",
				"jbzoo_filter_render": "category-checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_category_mode": "none",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"element": "_itemcategory"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "0cfb5ac6-e6bf-432b-b2dc-d3966603b8a3"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"element": "596c2baa-8ba8-46fd-9eef-64090f06e75b"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "0c3da0bc-fd2c-42bb-a1f7-d43a18788bc8"
			}
		}
	},
	"jbuniversal.maslo.catalog": {
		"fields": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "0",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "74fd1456-b93a-462a-9800-1280dcf4aaa7"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "0",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "8d5af378-0c06-47d7-a13f-c8bedb8e5f7a"
			}
		}
	},
	"jbuniversal.sozh.default": {
		"fields": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "category-checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_category_mode": "none",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"element": "_itemcategory"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "checkbox",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "05e9630e-6fde-411d-a3e3-ee2bd106e853"
			}
		}
	}
}