{
	"jbuniversal.product-armatura-a-as.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "d4449ea7-00f2-4b5e-91f0-0ef1cb5375f5"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "all",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "c1d2c6f5-b391-4417-9c01-df6cd960d444"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "72d7fa36-7b0d-49cb-81ae-e35ddeb4d7a0"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "928438da-350b-4d2f-b0c5-39f07233f084"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f4a367b3-fcbe-4617-b109-96eed778b734"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "e33a77e8-729a-41e6-a172-20d2458fe758"
			}
		},
		"related": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0412\u0430\u0441 \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u0443\u0435\u0442:",
				"count": "3",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "0",
				"columns": "3",
				"separated_by": "separator=[ ]",
				"element": "0ded93ef-5daf-4964-8dbb-bf28a9bb4ba6"
			}
		}
	},
	"jbuniversal.product-armatura-a-as.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "c1d2c6f5-b391-4417-9c01-df6cd960d444"
			}
		}
	},
	"jbuniversal.product-armatura-sip.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "69b419be-db98-48df-a694-954d118094d6"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0421\u0435\u0447\u0435\u043d\u0438\u0435 \u0436\u0438\u043b\u044b, \u043c\u043c<sup>2<\/sup>",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "f0aa6347-3352-46e8-9ede-22bfe52be4c1"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "\u041d\u043e\u043c. \u0441\u0435\u0447\u0435\u043d\u0438\u0435 \u0436\u0438\u043b, \u043c\u043c<sup>2<\/sup>",
				"link_to_item": "0",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "02c8e8f7-8084-43b7-8350-911df340af4d"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "\u0421\u0435\u0447\u0435\u043d\u0438\u0435 \u0436\u0438\u043b \u043c\u0430\u0433\u0438\u0441\u0442\u0440\u0430\u043b\u0438, \u043c\u043c<sup>2<\/sup>",
				"link_to_item": "0",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "fccd8575-9144-48ca-9f0b-57458927b561"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "\u0421\u0435\u0447\u0435\u043d\u0438\u0435 \u0436\u0438\u043b \u043e\u0442\u0432\u0435\u0442\u0432\u043b\u0435\u043d\u0438\u044f, \u043c\u043c<sup>2<\/sup>",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "ff84fc56-777b-4f3a-adbb-c77f59c7829f"
			},
			"4": {
				"showlabel": "1",
				"altlabel": "\u0420\u0430\u0437\u0440\u0443\u0448. \u043d\u0430\u0433\u0440\u0443\u0437\u043a\u0430, \u043a\u041d",
				"link_to_item": "0",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "5ba86632-ee41-43e0-a7fc-ddeec52f5878"
			}
		}
	},
	"jbuniversal.product-armatura-sip.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "all",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "69b419be-db98-48df-a694-954d118094d6"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "b9a6da16-0599-4954-a3bb-4e5e44de92c8"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "69d23b2f-6918-400d-9c7e-6f8075f1849a"
			}
		},
		"text": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5320b275-8eb2-4e0f-ad28-c8f734bdc964"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "\u041d\u043e\u043c\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0435 \u0441\u0435\u0447\u0435\u043d\u0438\u0435 \u043d\u0435\u0441\u0443\u0449\u0435\u0439 \u0436\u0438\u043b\u044b, \u043c\u043c<sup>2<\/sup>",
				"separated_by": "separator=[ | ]",
				"element": "045fe1d5-b2a1-4286-9a32-0b68ef70f24f"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ | ]",
				"element": "6844cc35-0df4-4d61-aa96-066e49f17344"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "\u041d\u043e\u043c\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0435 \u0441\u0435\u0447\u0435\u043d\u0438\u0435 \u0436\u0438\u043b, \u043c\u043c<sup>2<\/sup",
				"separated_by": "separator=[ | ]",
				"element": "bcf0fbb1-fab8-493b-9af4-c6c6e5522b18"
			},
			"4": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "14be8508-16ec-40ef-87c5-ed96ecb03b23"
			},
			"5": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ | ]",
				"element": "6571b782-b62c-4e0e-835c-71adf914e56b"
			},
			"6": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ | ]",
				"element": "bdf9cba2-3dd6-479e-98da-8eeefef2aba2"
			},
			"7": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ | ]",
				"element": "0442f4f2-da56-44d7-a6b8-3a2c2f9239fa"
			},
			"8": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ | ]",
				"element": "069ba0c5-1304-4ce7-a005-2185a703533f"
			},
			"9": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "59447464-9535-4345-a42f-90ca39d46e81"
			},
			"10": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "9afe08c1-57eb-43ad-b256-e1bde323323a"
			},
			"11": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "07324b1c-c9fd-4b54-ad5b-1c52f53afc82"
			},
			"12": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "6db304b4-abf7-43e3-9d0c-6ade4bd44d8d"
			},
			"13": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "537369c8-89fb-4ff5-a492-f6d5f6476e57"
			},
			"14": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "21000a92-003f-492a-b325-9d1ebd962d26"
			},
			"15": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "22e8456d-ce8b-46fe-8c6d-81e30d0bfe6a"
			},
			"16": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ | ]",
				"element": "14f90cfd-2b08-41dc-a2c4-2c15f1a71bde"
			},
			"17": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "71bacc4a-77dd-47c8-9ccf-24f03e97067c"
			},
			"18": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "09e7394c-c4d1-403a-89cf-fd2383a57575"
			},
			"19": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "f0660350-e553-432f-b079-aed06f336ea5"
			},
			"20": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "534f059e-a66a-4056-8173-2958384a81d3"
			},
			"21": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ | ]",
				"element": "52954fea-3dab-4c7e-812d-d4fad9c1bd12"
			},
			"22": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<p>%s<\/p>]",
				"display": "all",
				"element": "54d7d9bb-4c97-41cc-8008-f463934ba0b6"
			}
		},
		"related": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0412\u0430\u0441 \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u0443\u0435\u0442:",
				"count": "3",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "1",
				"columns": "3",
				"separated_by": "separator=[ ]",
				"element": "58e44418-c654-4f74-978c-391d79b3d961"
			}
		}
	},
	"jbuniversal.opasno-primenyat.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d3b2d2dd-526c-4a33-a13a-245b4e8068ae"
			}
		}
	},
	"jbuniversal.opasno-primenyat.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "80b66e1a-81cb-4601-ae60-9bc26f4bb73e"
			}
		}
	},
	"jbuniversal.product-izolyatory.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "e86d98a0-3a15-4297-988c-02610d3a9896"
			}
		}
	},
	"jbuniversal.product-izolyatory.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "dc8d8506-eecf-4877-a235-7fcd3a35f1a3"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "all",
				"display_mode": "0",
				"display_class": "",
				"autostart": "0",
				"show_noimage": "0",
				"element": "e86d98a0-3a15-4297-988c-02610d3a9896"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "238f1e74-80d3-408b-9218-e84780863e03"
			}
		},
		"properties": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "1000",
				"height": "",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "98751caf-7f03-4069-b273-f3e976c72d64"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "006612e6-5f7d-4871-be02-04d40f2383f1"
			}
		},
		"related": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0412\u0430\u0441 \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u0443\u0435\u0442:",
				"count": "4",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "1",
				"columns": "4",
				"separated_by": "separator=[ ]",
				"element": "f33e2c15-94fa-432b-8dd6-ef4d4c5caf9c"
			}
		}
	},
	"jbuniversal.product-izolyatory.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "e86d98a0-3a15-4297-988c-02610d3a9896"
			}
		}
	},
	"jbuniversal.product-armatura-vlz-6-35kv.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "9c39ab7f-2c98-4d87-ac8f-18fe07643b32"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "\u0421\u0435\u0447\u0435\u043d\u0438\u0435 \u0421\u0418\u041f-3, \u043c\u043c<sup>2<\/sup>",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "3b79f1a5-3d71-4a9d-98c8-ec4b3899de2e"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "\u0420\u0430\u0437. \u043d\u0430\u0433\u0440\u0443\u0437\u043a\u0430, \u043a\u041d",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "100e8541-9415-4540-bc4d-f6e9ab6d9527"
			}
		}
	},
	"jbuniversal.product-armatura-vlz-6-35kv.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "all",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "9c39ab7f-2c98-4d87-ac8f-18fe07643b32"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "a730ce0a-69b8-4716-b2fc-9c3cf2cc4bf0"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "b963083a-4dde-49c6-bb2d-1ec21916488e"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "defbb5fa-2a1b-4624-8c45-2affbff46f57"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "3140a22f-c74f-4ae6-bf71-0577ad3d0f16"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6a85751b-5269-42c1-b567-78e4ffe7a551"
			},
			"4": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "66bc9924-bfaf-449c-9f75-36bc7fc6e9d3"
			},
			"5": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "3efcd7b8-1eed-43c7-89ac-e6622c3279d7"
			},
			"6": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "0eb5532f-e425-4da8-8431-d88bbc1aa6f1"
			},
			"7": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "dc7aa73c-e485-47f4-a886-7654b182120b"
			},
			"8": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "39a440e1-f22b-4ea6-8034-6b026f9f8436"
			},
			"9": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "73a7bfe1-2ff7-4e4b-9cbc-38686a3724ad"
			},
			"10": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "f36636d4-4e71-411f-b986-96a3a6076b69"
			},
			"11": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "3a86465f-e52c-4734-a9a5-8aec9c81d8d0"
			},
			"12": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "6718198d-b24c-48dc-8922-31857904cb2e"
			},
			"13": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "d4ad29bd-7dd8-426b-a873-844bda2d6e0c"
			}
		},
		"related": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0412\u0430\u0441 \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u0443\u0435\u0442:",
				"count": "4",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "1",
				"columns": "4",
				"separated_by": "separator=[ ]",
				"element": "d971ee55-9659-41f5-9964-3ea55a85a08f"
			}
		}
	},
	"jbuniversal.product-armatura-vlz-6-35kv.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "9c39ab7f-2c98-4d87-ac8f-18fe07643b32"
			}
		}
	},
	"jbuniversal.kabelnaya-armatura.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "9c743ef9-6bd4-4de4-9378-8767ed3ab216"
			}
		}
	},
	"jbuniversal.kabelnaya-armatura.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "all",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "9c743ef9-6bd4-4de4-9378-8767ed3ab216"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5af3874c-ee81-4060-b31c-5ddbfbcc082b"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "2561e74f-77bc-4eea-b6e7-d25891dc3fc7"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0412\u0430\u0441 \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u0443\u0435\u0442:",
				"count": "3",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "1",
				"columns": "3",
				"separated_by": "separator=[ ]",
				"element": "f13d2f41-f6fd-46f2-80e0-be126f4a1555"
			}
		}
	},
	"jbuniversal.r-montazhnyj-instrument.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "de7f08a4-d87f-4bbe-8108-7c2b8ae06059"
			}
		}
	},
	"jbuniversal.r-montazhnyj-instrument.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "all",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "de7f08a4-d87f-4bbe-8108-7c2b8ae06059"
			}
		},
		"meta": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "85e57dbb-516e-4527-a1ac-5dee9929e313"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "df57ff99-f961-48c7-987e-527c7756c1af"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "4efe2940-46b1-44a3-9a1a-b4427c49a8a3"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "14ff4a1d-3f91-4c71-a569-67f369eb918e"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "596c773c-dc77-4750-9ff2-22f71aaaf6ba"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "6802562d-fc9d-4585-b524-3c441432378c"
			},
			"4": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "8081dbb6-3c1c-488d-9c9c-65681b88d825"
			},
			"5": {
				"showlabel": "1",
				"altlabel": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "29122064-4451-4d78-9889-7a3fb84023ee"
			}
		},
		"related": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0412\u043e\u0437\u043c\u043e\u0436\u043d\u043e \u0412\u0430\u0441 \u0437\u0430\u0438\u043d\u0442\u0435\u0440\u0435\u0441\u0443\u0435\u0442:",
				"count": "3",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "1",
				"columns": "3",
				"separated_by": "separator=[ ]",
				"element": "76c5e93c-e0ec-4302-b253-3f00f5ad159e"
			}
		}
	},
	"jbuniversal.r-montazhnyj-instrument.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "de7f08a4-d87f-4bbe-8108-7c2b8ae06059"
			}
		}
	},
	"jbuniversal.product-armatura-a-as.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "c1d2c6f5-b391-4417-9c01-df6cd960d444"
			}
		}
	},
	"jbuniversal.product-armatura-sip.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "69b419be-db98-48df-a694-954d118094d6"
			}
		},
		"meta": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u041d\u043e\u043c\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0435 \u0441\u0435\u0447\u0435\u043d\u0438\u0435 \u043d\u0435\u0441\u0443\u0449\u0435\u0439 \u0436\u0438\u043b\u044b, \u043c\u043c<sup>2<\/sup>",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "f0aa6347-3352-46e8-9ede-22bfe52be4c1"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "\u0420\u0430\u0437\u0440\u0443\u0448\u0430\u044e\u0449\u0430\u044f \u043d\u0430\u0433\u0440\u0443\u0437\u043a\u0430, kH",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "5ba86632-ee41-43e0-a7fc-ddeec52f5878"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "\u041d\u043e\u043c\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0435 \u0441\u0435\u0447\u0435\u043d\u0438\u0435 \u0436\u0438\u043b \u043c\u0430\u0433\u0438\u0441\u0442\u0440\u0430\u043b\u0438, \u043c\u043c<sup>2<\/sup>",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "fccd8575-9144-48ca-9f0b-57458927b561"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "\u041d\u043e\u043c\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0435 \u0441\u0435\u0447\u0435\u043d\u0438\u0435 \u0436\u0438\u043b \u043e\u0442\u0432\u0435\u0442\u0432\u043b\u0435\u043d\u0438\u044f, \u043c\u043c<sup>2<\/sup>",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "ff84fc56-777b-4f3a-adbb-c77f59c7829f"
			},
			"4": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "b9a6da16-0599-4954-a3bb-4e5e44de92c8"
			}
		}
	},
	"jbuniversal.razediniteli.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "3b518a36-5ee5-4fd7-a58b-459bd8403efb"
			}
		}
	},
	"jbuniversal.razediniteli.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "all",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "3b518a36-5ee5-4fd7-a58b-459bd8403efb"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "a985647d-5dd7-41fd-acc7-fe8c070ff473"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "e75fe7d4-3d31-4115-992d-e30e21c2a4f3"
			}
		}
	},
	"jbuniversal.opn.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "first",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "57c22057-6cbc-457f-9e8a-b2f3c1cb71ca"
			}
		}
	},
	"jbuniversal.opn.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "\u041e\u0433\u0440\u0430\u043d\u0438\u0447\u0438\u0442\u0435\u043b\u0438 \u043f\u0435\u0440\u0435\u043d\u0430\u043f\u0440\u044f\u0436\u0435\u043d\u0438\u044f ",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "6647159d-b622-4b0b-ade0-53488e0b9ee9"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"display": "all",
				"display_mode": "0",
				"display_class": "",
				"autostart": "1",
				"show_noimage": "0",
				"element": "57c22057-6cbc-457f-9e8a-b2f3c1cb71ca"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "afbc4304-48db-471e-8af3-aff5b34d51a9"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "68ca3840-524e-48f0-8f01-3c9a09bc3c8c"
			}
		}
	}
}