{
	"name": "\u041c\u0430\u0441\u043b\u043e (\u0421\u043a\u043b\u0430\u0434)",
	"elements": {
		"1f4a614d-7a07-49f4-b4bf-eabb8945c346": {
			"name": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"d3344b32-662e-4f3f-b705-5e2195768acb": {
			"name": "\u0422\u043e\u0432\u0430\u0440\u044b \u0441 \u0432\u0430\u0440\u0438\u0430\u0446\u0438\u044f\u043c\u0438",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "maslo"
			},
			"revers_types": {
				"0": "1:maslo:4d180bce-8ac3-411a-aa5c-8830aae74618"
			},
			"type_app": {
				"0": "2"
			},
			"type": "relateditemsmain"
		},
		"28e15719-69e0-48bd-b36a-e95ff2dfa13e": {
			"name": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"1ba7fe37-4199-49f0-aa02-93b1ad64069d": {
			"name": "\u041f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "\u0413\u0430\u0437\u043f\u0440\u043e\u043c \u043d\u0435\u0444\u0442\u044c",
					"value": "gazprom-neft"
				},
				"1": {
					"name": "\u041b\u0443\u043a\u043e\u0439\u043b",
					"value": "lukojl"
				},
				"2": {
					"name": "\u041d\u041a \u0420\u043e\u0441\u043d\u0435\u0444\u0442\u044c",
					"value": "nk-rosneft"
				},
				"3": {
					"name": "Mobil",
					"value": "mobil"
				},
				"4": {
					"name": "Shell",
					"value": "shell"
				},
				"5": {
					"name": "\u041a\u0432\u0430\u043b\u0438\u0442\u0435\u0442-\u0410\u0432\u0438\u0430",
					"value": "kvalitet-avia"
				},
				"6": {
					"name": "\u0421\u043f\u0435\u0446\u0430\u0432\u0442\u043e\u043c\u0430\u0442",
					"value": "specavtomat"
				},
				"7": {
					"name": "\u0422\u043e\u043c\u0444\u043b\u043e\u043d",
					"value": "tomflon"
				},
				"8": {
					"name": "SKF",
					"value": "skf"
				},
				"9": {
					"name": "\u0410\u0433\u0440\u0438\u043d\u043e\u043b",
					"value": "agrinol"
				},
				"10": {
					"name": "\u041c\u043e\u0441\u043a\u043e\u0432\u0441\u043a\u0438\u0439 \u041d\u041c\u0417",
					"value": "moskovskij-nmz"
				},
				"11": {
					"name": "Total",
					"value": "total"
				},
				"12": {
					"name": "Fuchs",
					"value": "fuchs"
				},
				"13": {
					"name": "Agip",
					"value": "agip"
				},
				"14": {
					"name": "ELF",
					"value": "elf"
				},
				"15": {
					"name": "Castrol",
					"value": "castrol"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"66600c66-74ef-4ff2-a5e6-97253cf881cd": {
			"name": "\u0422\u0430\u0440\u0430",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "0,07 \u043a\u0433",
					"value": "0-07-kg"
				},
				"1": {
					"name": "0,12 \u043a\u0433",
					"value": "0-12-kg"
				},
				"2": {
					"name": "0,65 \u043a\u0433",
					"value": "0-65-kg"
				},
				"3": {
					"name": "0,7 \u043a\u0433",
					"value": "0-7-kg"
				},
				"4": {
					"name": "0,75 \u043a\u0433",
					"value": "0-75-kg"
				},
				"5": {
					"name": "0,7945 \u043a\u0433",
					"value": "0-7945-kg"
				},
				"6": {
					"name": "0,8 \u043a\u0433",
					"value": "0-8-kg"
				},
				"7": {
					"name": "0,85 \u043a\u0433",
					"value": "0-85-kg"
				},
				"8": {
					"name": "1 \u043a\u0433",
					"value": "1-kg"
				},
				"9": {
					"name": "1,3 \u043a\u0433",
					"value": "1-3-kg"
				},
				"10": {
					"name": "1,5 \u043a\u0433",
					"value": "1-5-kg"
				},
				"11": {
					"name": "3 \u043a\u0433",
					"value": "3-kg"
				},
				"12": {
					"name": "4,5 \u043a\u0433",
					"value": "4-5-kg"
				},
				"13": {
					"name": "5 \u043a\u0433",
					"value": "5-kg"
				},
				"14": {
					"name": "9 \u043a\u0433",
					"value": "9-kg"
				},
				"15": {
					"name": "10 \u043a\u0433",
					"value": "10-kg"
				},
				"16": {
					"name": "15 \u043a\u0433",
					"value": "15-kg"
				},
				"17": {
					"name": "15,5 \u043a\u0433",
					"value": "15-5-kg"
				},
				"18": {
					"name": "16 \u043a\u0433",
					"value": "16-kg"
				},
				"19": {
					"name": "16,3 \u043a\u0433",
					"value": "16-3-kg"
				},
				"20": {
					"name": "17 \u043a\u0433",
					"value": "17-kg"
				},
				"21": {
					"name": "17,5 \u043a\u0433",
					"value": "17-5-kg"
				},
				"22": {
					"name": "18 \u043a\u0433",
					"value": "18-kg"
				},
				"23": {
					"name": "19 \u043a\u0433",
					"value": "19-kg"
				},
				"24": {
					"name": "20 \u043a\u0433",
					"value": "20-kg"
				},
				"25": {
					"name": "22 \u043a\u0433",
					"value": "22-kg"
				},
				"26": {
					"name": "25 \u043a\u0433",
					"value": "25-kg"
				},
				"27": {
					"name": "39 \u043a\u0433",
					"value": "39-kg"
				},
				"28": {
					"name": "46 \u043a\u0433",
					"value": "46-kg"
				},
				"29": {
					"name": "48 \u043a\u0433",
					"value": "48-kg"
				},
				"30": {
					"name": "2x31 \u043a\u0433",
					"value": "2x31-kg"
				},
				"31": {
					"name": "60 \u043a\u0433",
					"value": "60-kg"
				},
				"32": {
					"name": "170 \u043a\u0433",
					"value": "170-kg"
				},
				"33": {
					"name": "175 \u043a\u0433",
					"value": "175-kg"
				},
				"34": {
					"name": "176 \u043a\u0433",
					"value": "176-kg"
				},
				"35": {
					"name": "177 \u043a\u0433",
					"value": "177-kg"
				},
				"36": {
					"name": "178 \u043a\u0433",
					"value": "178-kg"
				},
				"37": {
					"name": "179 \u043a\u0433",
					"value": "179-kg"
				},
				"38": {
					"name": "180 \u043a\u0433",
					"value": "180-kg"
				},
				"39": {
					"name": "181 \u043a\u0433",
					"value": "181-kg"
				},
				"40": {
					"name": "182 \u043a\u0433",
					"value": "182-kg"
				},
				"41": {
					"name": "183 \u043a\u0433",
					"value": "183-kg"
				},
				"42": {
					"name": "184 \u043a\u0433",
					"value": "184-kg"
				},
				"43": {
					"name": "185 \u043a\u0433",
					"value": "185-kg"
				},
				"44": {
					"name": "190 \u043a\u0433",
					"value": "190-kg"
				},
				"45": {
					"name": "200 \u043a\u0433",
					"value": "200-kg"
				},
				"46": {
					"name": "206 \u043a\u0433",
					"value": "206-kg"
				},
				"47": {
					"name": "210 \u043a\u0433",
					"value": "210-kg"
				},
				"48": {
					"name": "216 \u043a\u0433",
					"value": "216-kg"
				},
				"49": {
					"name": "220 \u043a\u0433",
					"value": "220-kg"
				},
				"50": {
					"name": "230 \u043a\u0433",
					"value": "230-kg"
				},
				"51": {
					"name": "850 \u043a\u0433",
					"value": "850-ru"
				},
				"52": {
					"name": "894 \u043a\u0433",
					"value": "894-kg"
				},
				"53": {
					"name": "0,25 \u043b",
					"value": "025-l"
				},
				"54": {
					"name": "0,3 \u043b",
					"value": "03-l"
				},
				"55": {
					"name": "0,5 \u043b",
					"value": "05-l"
				},
				"56": {
					"name": "0,946 \u043b",
					"value": "0-946-l"
				},
				"57": {
					"name": "1 \u043b",
					"value": "1-l"
				},
				"58": {
					"name": "2 \u043b",
					"value": "2-l"
				},
				"59": {
					"name": "3,78 \u043b",
					"value": "3-78-l"
				},
				"60": {
					"name": "4 \u043b",
					"value": "4-l"
				},
				"61": {
					"name": "4+1 \u043b",
					"value": "4-1-l"
				},
				"62": {
					"name": "5 \u043b",
					"value": "5-l"
				},
				"63": {
					"name": "7 \u043b",
					"value": "7-l"
				},
				"64": {
					"name": "10 \u043b",
					"value": "10-l"
				},
				"65": {
					"name": "17 \u043b",
					"value": "17-l"
				},
				"66": {
					"name": "18 \u043b",
					"value": "18-l"
				},
				"67": {
					"name": "18,9 \u043b",
					"value": "18-9-l"
				},
				"68": {
					"name": "20 \u043b",
					"value": "20-l"
				},
				"69": {
					"name": "20,5 \u043b",
					"value": "20-5-l"
				},
				"70": {
					"name": "21,5 \u043b",
					"value": "215-l"
				},
				"71": {
					"name": "48 \u043b",
					"value": "48-l"
				},
				"72": {
					"name": "49 \u043b.",
					"value": "49-l"
				},
				"73": {
					"name": "50 \u043b",
					"value": "50-k"
				},
				"74": {
					"name": "55 \u043b",
					"value": "55-l"
				},
				"75": {
					"name": "60 \u043b",
					"value": "60-l"
				},
				"76": {
					"name": "199 \u043b",
					"value": "199-l"
				},
				"77": {
					"name": "200 \u043b",
					"value": "200-l"
				},
				"78": {
					"name": "201 \u043b",
					"value": "201-l"
				},
				"79": {
					"name": "202 \u043b",
					"value": "202-l"
				},
				"80": {
					"name": "203 \u043b",
					"value": "203-l"
				},
				"81": {
					"name": "204 \u043b",
					"value": "204-l"
				},
				"82": {
					"name": "205 \u043b",
					"value": "205-l"
				},
				"83": {
					"name": "206 \u043b",
					"value": "206-l"
				},
				"84": {
					"name": "207 \u043b",
					"value": "207-l"
				},
				"85": {
					"name": "207,9 \u043b",
					"value": "207-9-l"
				},
				"86": {
					"name": "208 \u043b",
					"value": "208-l"
				},
				"87": {
					"name": "209 \u043b",
					"value": "209-l"
				},
				"88": {
					"name": "216 \u043b",
					"value": "216-l"
				},
				"89": {
					"name": "216,5 \u043b",
					"value": "2165-l"
				},
				"90": {
					"name": "980 \u043b",
					"value": "980-l"
				},
				"91": {
					"name": "1000 \u043b",
					"value": "1000-l"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"43bd900f-04ca-45e3-be48-67a9b56b8778": {
			"name": "\u0426\u0435\u043d\u0430",
			"description": "",
			"access": "1",
			"only_selected": "1",
			"cache": "0",
			"type": "jbpriceplain"
		},
		"34d6a597-29a6-41b8-bcd2-98b614777fda": {
			"name": "\u0410\u043d\u0430\u043b\u043e\u0433\u0438",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "maslo"
			},
			"type": "relateditems"
		},
		"2c97fac0-7085-4cfe-81f4-389102255d22": {
			"name": "\u041f\u043e\u0445\u043e\u0436\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u044b",
			"description": "",
			"access": "1",
			"type": "jbrelatedauto"
		},
		"a27e2021-0719-4111-ac61-8b914740a65a": {
			"name": "\u041a\u043d\u043e\u043f\u043a\u0430 \u041a\u0443\u043f\u0438\u0442\u044c",
			"description": "",
			"access": "1",
			"default": "116",
			"type": "joomlamodule"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}