{
	"name": "\u041c\u0430\u0441\u043b\u043e",
	"elements": {
		"d39bf792-9736-47f2-bca0-4cb45d5e8143": {
			"name": "\u041e\u0444\u0435\u0440\u0442\u0430",
			"description": "",
			"access": "1",
			"default": "153",
			"type": "joomlamodule"
		},
		"e9d5e231-eeb1-4130-9d1c-5f8bd0aeb83f": {
			"name": "\u0426\u0435\u043d\u0430",
			"description": "",
			"access": "1",
			"only_selected": "1",
			"cache": "0",
			"type": "jbpriceplain"
		},
		"5298506d-25a3-41e3-bcd8-f619e7979998": {
			"name": "\u041c\u0438\u043a\u0440\u043e\u0440\u0430\u0437\u043c\u0435\u0442\u043a\u0430 ",
			"description": "",
			"access": "1",
			"sklad_mode": "0",
			"skladElList": "4d180bce-8ac3-411a-aa5c-8830aae74618",
			"priceSkladElementId": "43bd900f-04ca-45e3-be48-67a9b56b8778",
			"photo_mode": "1",
			"photoElList": "23839afb-9c9e-4cbf-b66b-097431b25add",
			"PhotoElementId": "23839afb-9c9e-4cbf-b66b-097431b25add",
			"defaultphoto": "",
			"price_mode": "2",
			"jbpriceplain": "e9d5e231-eeb1-4130-9d1c-5f8bd0aeb83f",
			"PriceElementId": "43bd900f-04ca-45e3-be48-67a9b56b8778",
			"jbprice_kop_enabled": "0",
			"JBZooPriceWithDiscount_enabled": "0",
			"brand_mode": "3",
			"brandListElementId": "28e15719-69e0-48bd-b36a-e95ff2dfa13e",
			"brandElementId": "8d5af378-0c06-47d7-a13f-c8bedb8e5f7a",
			"brandsimpletext": "",
			"manufacturer_mode": "0",
			"manufacturerListElementId": "28e15719-69e0-48bd-b36a-e95ff2dfa13e",
			"manufacturerElementId": "8d5af378-0c06-47d7-a13f-c8bedb8e5f7a",
			"manufacturersimpletext": "",
			"textteaser_mode": "1",
			"teasertextListElementId": "3739ebd4-9e82-446e-aa8c-0f7c5faa81a5",
			"teasertextElementId": "",
			"teasertextsimpletext": "",
			"ogtype_enabled": "1",
			"ogtype_site_name_show": "1",
			"ogtype_image_show": "1",
			"ogtype_type_show": "1",
			"ogtype_title_show": "1",
			"ogtype_url_show": "1",
			"ogtype_description_show": "1",
			"ogtype_description_mode": "1",
			"ogtype_text_def": "3739ebd4-9e82-446e-aa8c-0f7c5faa81a5",
			"mode_generator_tag_joomla": "0",
			"razmetka_mode": "1",
			"razmetka_tech_mode": "0",
			"jbzoo_el_debug": "0",
			"type": "schema"
		},
		"8d5af378-0c06-47d7-a13f-c8bedb8e5f7a": {
			"name": "\u041f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "\u0413\u0430\u0437\u043f\u0440\u043e\u043c \u043d\u0435\u0444\u0442\u044c",
					"value": "gazprom-neft"
				},
				"1": {
					"name": "\u041b\u0443\u043a\u043e\u0439\u043b",
					"value": "lukojl"
				},
				"2": {
					"name": "\u041d\u041a \u0420\u043e\u0441\u043d\u0435\u0444\u0442\u044c",
					"value": "nk-rosneft"
				},
				"3": {
					"name": "Mobil",
					"value": "mobil"
				},
				"4": {
					"name": "Shell",
					"value": "shell"
				},
				"5": {
					"name": "\u041a\u0432\u0430\u043b\u0438\u0442\u0435\u0442-\u0410\u0432\u0438\u0430",
					"value": "kvalitet-avia"
				},
				"6": {
					"name": "\u0421\u043f\u0435\u0446\u0430\u0432\u0442\u043e\u043c\u0430\u0442",
					"value": "specavtomat"
				},
				"7": {
					"name": "\u0422\u043e\u043c\u0444\u043b\u043e\u043d",
					"value": "tomflon"
				},
				"8": {
					"name": "SKF",
					"value": "skf"
				},
				"9": {
					"name": "\u0410\u0433\u0440\u0438\u043d\u043e\u043b",
					"value": "agrinol"
				},
				"10": {
					"name": "\u041c\u043e\u0441\u043a\u043e\u0432\u0441\u043a\u0438\u0439 \u041d\u041c\u0417",
					"value": "moskovskij-nmz"
				},
				"11": {
					"name": "Total",
					"value": "total"
				},
				"12": {
					"name": "Fuchs",
					"value": "fuchs"
				},
				"13": {
					"name": "Agip",
					"value": "agip"
				},
				"14": {
					"name": "ELF",
					"value": "elf"
				},
				"15": {
					"name": "Castrol",
					"value": "castrol"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"70afa667-34bb-4eab-b2e0-c040a75f19cb": {
			"name": "\u0422\u0430\u0440\u0430",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "0,07 \u043a\u0433",
					"value": "0-07-kg"
				},
				"1": {
					"name": "0,12 \u043a\u0433",
					"value": "0-12-kg"
				},
				"2": {
					"name": "0,65 \u043a\u0433",
					"value": "0-65-kg"
				},
				"3": {
					"name": "0,7 \u043a\u0433",
					"value": "0-7-kg"
				},
				"4": {
					"name": "0,75 \u043a\u0433",
					"value": "0-75-kg"
				},
				"5": {
					"name": "0,7945 \u043a\u0433",
					"value": "0-7945-kg"
				},
				"6": {
					"name": "0,8 \u043a\u0433",
					"value": "0-8-kg"
				},
				"7": {
					"name": "0,85 \u043a\u0433",
					"value": "0-85-kg"
				},
				"8": {
					"name": "1 \u043a\u0433",
					"value": "1-kg"
				},
				"9": {
					"name": "1,3 \u043a\u0433",
					"value": "1-3-kg"
				},
				"10": {
					"name": "1,5 \u043a\u0433",
					"value": "1-5-kg"
				},
				"11": {
					"name": "3 \u043a\u0433",
					"value": "3-kg"
				},
				"12": {
					"name": "4,5 \u043a\u0433",
					"value": "4-5-kg"
				},
				"13": {
					"name": "5 \u043a\u0433",
					"value": "5-kg"
				},
				"14": {
					"name": "9 \u043a\u0433",
					"value": "9-kg"
				},
				"15": {
					"name": "10 \u043a\u0433",
					"value": "10-kg"
				},
				"16": {
					"name": "15 \u043a\u0433",
					"value": "15-kg"
				},
				"17": {
					"name": "15,5 \u043a\u0433",
					"value": "15-5-kg"
				},
				"18": {
					"name": "16 \u043a\u0433",
					"value": "16-kg"
				},
				"19": {
					"name": "16,3 \u043a\u0433",
					"value": "16-3-kg"
				},
				"20": {
					"name": "17 \u043a\u0433",
					"value": "17-kg"
				},
				"21": {
					"name": "17,5 \u043a\u0433",
					"value": "17-5-kg"
				},
				"22": {
					"name": "18 \u043a\u0433",
					"value": "18-kg"
				},
				"23": {
					"name": "19 \u043a\u0433",
					"value": "19-kg"
				},
				"24": {
					"name": "20 \u043a\u0433",
					"value": "20-kg"
				},
				"25": {
					"name": "22 \u043a\u0433",
					"value": "22-kg"
				},
				"26": {
					"name": "25 \u043a\u0433",
					"value": "25-kg"
				},
				"27": {
					"name": "39 \u043a\u0433",
					"value": "39-kg"
				},
				"28": {
					"name": "46 \u043a\u0433",
					"value": "46-kg"
				},
				"29": {
					"name": "48 \u043a\u0433",
					"value": "48-kg"
				},
				"30": {
					"name": "2x31 \u043a\u0433",
					"value": "2x31-kg"
				},
				"31": {
					"name": "60 \u043a\u0433",
					"value": "60-kg"
				},
				"32": {
					"name": "170 \u043a\u0433",
					"value": "170-kg"
				},
				"33": {
					"name": "175 \u043a\u0433",
					"value": "175-kg"
				},
				"34": {
					"name": "176 \u043a\u0433",
					"value": "176-kg"
				},
				"35": {
					"name": "177 \u043a\u0433",
					"value": "177-kg"
				},
				"36": {
					"name": "178 \u043a\u0433",
					"value": "178-kg"
				},
				"37": {
					"name": "179 \u043a\u0433",
					"value": "179-kg"
				},
				"38": {
					"name": "180 \u043a\u0433",
					"value": "180-kg"
				},
				"39": {
					"name": "181 \u043a\u0433",
					"value": "181-kg"
				},
				"40": {
					"name": "182 \u043a\u0433",
					"value": "182-kg"
				},
				"41": {
					"name": "183 \u043a\u0433",
					"value": "183-kg"
				},
				"42": {
					"name": "184 \u043a\u0433",
					"value": "184-kg"
				},
				"43": {
					"name": "185 \u043a\u0433",
					"value": "185-kg"
				},
				"44": {
					"name": "190 \u043a\u0433",
					"value": "190-kg"
				},
				"45": {
					"name": "200 \u043a\u0433",
					"value": "200-kg"
				},
				"46": {
					"name": "206 \u043a\u0433",
					"value": "206-kg"
				},
				"47": {
					"name": "210 \u043a\u0433",
					"value": "210-kg"
				},
				"48": {
					"name": "216 \u043a\u0433",
					"value": "216-kg"
				},
				"49": {
					"name": "220 \u043a\u0433",
					"value": "220-kg"
				},
				"50": {
					"name": "230 \u043a\u0433",
					"value": "230-kg"
				},
				"51": {
					"name": "850 \u043a\u0433",
					"value": "850-kg"
				},
				"52": {
					"name": "894 \u043a\u0433",
					"value": "894-kg"
				},
				"53": {
					"name": "0,25 \u043b",
					"value": "025-l"
				},
				"54": {
					"name": "0,3 \u043b",
					"value": "03-l"
				},
				"55": {
					"name": "0,5 \u043b",
					"value": "05-l"
				},
				"56": {
					"name": "0,946 \u043b",
					"value": "0-946-l"
				},
				"57": {
					"name": "1 \u043b",
					"value": "1-l"
				},
				"58": {
					"name": "2 \u043b",
					"value": "2-l"
				},
				"59": {
					"name": "3,78 \u043b",
					"value": "3-78-l"
				},
				"60": {
					"name": "4+1 \u043b",
					"value": "41-l"
				},
				"61": {
					"name": "5 \u043b",
					"value": "5-l"
				},
				"62": {
					"name": "7 \u043b",
					"value": "7-l"
				},
				"63": {
					"name": "10 \u043b",
					"value": "10-l"
				},
				"64": {
					"name": "18 \u043b",
					"value": "18-l"
				},
				"65": {
					"name": "18,9 \u043b",
					"value": "18-9-l"
				},
				"66": {
					"name": "20 \u043b",
					"value": "20-l"
				},
				"67": {
					"name": "20,5 \u043b",
					"value": "20-5-l"
				},
				"68": {
					"name": "21,5 \u043b",
					"value": "215-l"
				},
				"69": {
					"name": "48 \u043b",
					"value": "48-l"
				},
				"70": {
					"name": "50 \u043b",
					"value": "50-l"
				},
				"71": {
					"name": "55 \u043b",
					"value": "55-l"
				},
				"72": {
					"name": "60 \u043b",
					"value": "60-l"
				},
				"73": {
					"name": "200 \u043b",
					"value": "200-l"
				},
				"74": {
					"name": "203 \u043b",
					"value": "203-l"
				},
				"75": {
					"name": "205 \u043b",
					"value": "205-l"
				},
				"76": {
					"name": "207,9 \u043b",
					"value": "207-9-l"
				},
				"77": {
					"name": "208 \u043b",
					"value": "208-l"
				},
				"78": {
					"name": "209 \u043b",
					"value": "209-l"
				},
				"79": {
					"name": "216 \u043b",
					"value": "216-l"
				},
				"80": {
					"name": "216,5 \u043b",
					"value": "2165-l"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"74fd1456-b93a-462a-9800-1280dcf4aaa7": {
			"name": "\u0422\u0438\u043f \u043c\u0430\u0441\u043b\u0430",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "SAE 0W-20",
					"value": "sae-0w-20"
				},
				"1": {
					"name": "SAE 0W-30",
					"value": "sae-0w-30"
				},
				"2": {
					"name": "SAE 0W-40",
					"value": "sae-0w-40"
				},
				"3": {
					"name": "SAE 5W-20",
					"value": "sae-5w-20"
				},
				"4": {
					"name": "SAE 5W-30",
					"value": "sae-5w-30"
				},
				"5": {
					"name": "SAE 5W-40",
					"value": "sae-5w-40"
				},
				"6": {
					"name": "SAE 5W-50",
					"value": "sae-5w-40"
				},
				"7": {
					"name": "SAE 10W-20",
					"value": "sae-10w-20"
				},
				"8": {
					"name": "SAE 10W-30",
					"value": "sae-10w-30"
				},
				"9": {
					"name": "SAE 10W-40",
					"value": "sae-10w-40"
				},
				"10": {
					"name": "SAE 10W-50",
					"value": "sae-10w-50"
				},
				"11": {
					"name": "SAE 10W-60",
					"value": "sae-10w-60"
				},
				"12": {
					"name": "SAE 15W-30",
					"value": "sae-15w-30"
				},
				"13": {
					"name": "SAE 15W-40",
					"value": "sae-15w-40"
				},
				"14": {
					"name": "SAE 15W-50",
					"value": "sae-15w-50"
				},
				"15": {
					"name": "SAE 20W-20",
					"value": "sae-20w-20"
				},
				"16": {
					"name": "SAE 20W-50",
					"value": "sae-20w-50"
				},
				"17": {
					"name": "SAE 20W-60",
					"value": "sae-20w-60"
				},
				"18": {
					"name": "SAE 5",
					"value": "sae-5"
				},
				"19": {
					"name": "SAE 7,5",
					"value": "sae-75"
				},
				"20": {
					"name": "SAE 10",
					"value": "sae-10"
				},
				"21": {
					"name": "SAE 15",
					"value": "sae-15"
				},
				"22": {
					"name": "SAE 20",
					"value": "sae-20"
				},
				"23": {
					"name": "SAE 30",
					"value": "sae-30"
				},
				"24": {
					"name": "SAE 40",
					"value": "sae-40"
				},
				"25": {
					"name": "SAE 50",
					"value": "sae-50"
				},
				"26": {
					"name": "SAE 60",
					"value": "sae-60"
				},
				"27": {
					"name": "SAE 75",
					"value": "sae-75"
				},
				"28": {
					"name": "SAE 75W-80",
					"value": "sae-75w-80"
				},
				"29": {
					"name": "SAE 75W-85",
					"value": "sae-75w-85"
				},
				"30": {
					"name": "SAE 75W-90",
					"value": "sae-75w-90"
				},
				"31": {
					"name": "SAE 75W-140",
					"value": "sae-75w-140"
				},
				"32": {
					"name": "SAE 80",
					"value": "sae-80"
				},
				"33": {
					"name": "SAE 80W-85",
					"value": "sae-80w-85"
				},
				"34": {
					"name": "SAE 80W-90",
					"value": "sae-80w-90"
				},
				"35": {
					"name": "SAE 80W-110",
					"value": "sae-80w-110"
				},
				"36": {
					"name": "SAE 80W-140",
					"value": "sae-80w-140"
				},
				"37": {
					"name": "SAE 85W-90",
					"value": "sae-85w-90"
				},
				"38": {
					"name": "SAE 85W-140",
					"value": "sae-85w-140"
				},
				"39": {
					"name": "SAE 90",
					"value": "sae-90"
				},
				"40": {
					"name": "(ATF) Automatic Transmission Fluids",
					"value": "atf-automatic-transmission-fluids"
				},
				"41": {
					"name": "\u0413\u0438\u0434\u0440\u0430\u0432\u043b\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043c\u0430\u0441\u043b\u043e H",
					"value": "gidravlicheskoe-maslo-h"
				},
				"42": {
					"name": "\u0413\u0438\u0434\u0440\u0430\u0432\u043b\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043c\u0430\u0441\u043b\u043e HL",
					"value": "gidravlicheskoe-maslo-hl"
				},
				"43": {
					"name": "\u0413\u0438\u0434\u0440\u0430\u0432\u043b\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043c\u0430\u0441\u043b\u043e HLP",
					"value": "gidravlicheskoe-maslo-hlp"
				},
				"44": {
					"name": "\u0413\u0438\u0434\u0440\u0430\u0432\u043b\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043c\u0430\u0441\u043b\u043e HZF",
					"value": "gidravlicheskoe-maslo-hzf"
				},
				"45": {
					"name": "\u0413\u0438\u0434\u0440\u0430\u0432\u043b\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043c\u0430\u0441\u043b\u043e HLPD",
					"value": "gidravlicheskoe-maslo-hlpd"
				},
				"46": {
					"name": "\u0413\u0438\u0434\u0440\u0430\u0432\u043b\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043c\u0430\u0441\u043b\u043e HVLP",
					"value": "gidravlicheskoe-maslo-hvlp"
				},
				"47": {
					"name": "\u0413\u0438\u0434\u0440\u0430\u0432\u043b\u0438\u0447\u0435\u0441\u043a\u043e\u0435 \u043c\u0430\u0441\u043b\u043e HVLPD",
					"value": "gidravlicheskoe-maslo-hvlpd"
				},
				"48": {
					"name": "\u041a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u043e\u0435 \u043c\u0430\u0441\u043b\u043e DIN VBL",
					"value": "kompressornoe-maslo-din-vbl"
				},
				"49": {
					"name": "\u041a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u043e\u0435 \u043c\u0430\u0441\u043b\u043e DIN VCL",
					"value": "kompressornoe-maslo-din-vcl"
				},
				"50": {
					"name": "\u041a\u043e\u043c\u043f\u0440\u0435\u0441\u0441\u043e\u0440\u043d\u043e\u0435 \u043c\u0430\u0441\u043b\u043e DIN VDL",
					"value": "kompressornoe-maslo-din-vdl"
				},
				"51": {
					"name": "\u0422\u0443\u0440\u0431\u0438\u043d\u043d\u043e\u0435 \u043c\u0430\u0441\u043b\u043e DIN L-TD",
					"value": "turbinnoe-maslo-din-l-td"
				},
				"52": {
					"name": "\u0422\u0443\u0440\u0431\u0438\u043d\u043d\u043e\u0435 \u043c\u0430\u0441\u043b\u043e DIN L-TG",
					"value": "turbinnoe-maslo-din-l-tg"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"3739ebd4-9e82-446e-aa8c-0f7c5faa81a5": {
			"name": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"a78607a2-9863-45f6-9410-2f77191a050a": {
			"name": "\u041f\u0440\u0438\u043c\u0435\u043d\u0435\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"0e2c3a22-7e70-4e77-a4f6-40a6cb151f8b": {
			"name": "\u0425\u0430\u0440\u0430\u043a\u0442\u0435\u0440\u0438\u0441\u0442\u0438\u043a\u0438",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"4d180bce-8ac3-411a-aa5c-8830aae74618": {
			"name": "\u0422\u043e\u0432\u0430\u0440\u044b \u0441 \u0432\u0430\u0440\u0438\u0430\u0446\u0438\u044f\u043c\u0438",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "maslo-sklad"
			},
			"revers_types": {
				"0": "1:maslo:4d180bce-8ac3-411a-aa5c-8830aae74618"
			},
			"type_app": {
				"0": "1"
			},
			"type": "relateditemsmain"
		},
		"ec70554c-7afe-4275-bc36-3b39b43ad01c": {
			"name": "\u041a\u043d\u043e\u043f\u043a\u0430 \u041a\u0443\u043f\u0438\u0442\u044c",
			"description": "",
			"access": "1",
			"default": "116",
			"type": "joomlamodule"
		},
		"23839afb-9c9e-4cbf-b66b-097431b25add": {
			"name": "\u0424\u043e\u0442\u043e",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_number": "10",
			"max_upload_size": "51200",
			"max_width": "1920",
			"max_height": "1080",
			"watermark_enable": "0",
			"watermark_path": "images\/watermark.png",
			"upload_by": "user",
			"default_enable": "1",
			"default_image": "images\/maslo.png",
			"remove_with_item": "0",
			"delete_type": "simple",
			"type": "jbimage"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}