{
	"name": "\u041f\u0440\u043e\u0434\u0443\u043a\u0442",
	"elements": {
		"3e893a6c-b24d-43d3-8ae3-d31068eec62a": {
			"name": "\u0421\u0440\u0430\u0432\u043d\u0435\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"menuitem": "101",
			"limit": "3",
			"type": "jbcompare"
		},
		"f9c851c6-1b24-4487-9f1a-98d4554daa2c": {
			"name": "Advert",
			"description": "",
			"access": "1",
			"mode": "publish",
			"price": "22",
			"item_priority_value": "10",
			"item_category_value": {
				"app": "1",
				"category": ""
			},
			"item_expiredate_timeout": "30",
			"item_element_id": "",
			"item_element_value": "",
			"item_php_eval": "",
			"type": "jbadvert"
		},
		"70bd5788-c0d6-45a5-b848-b288660512b7": {
			"name": "\u0431\u044b\u0441\u0442\u0440\u044b\u0439 \u043f\u0440\u043e\u0441\u043c\u043e\u0442\u0440",
			"description": "",
			"access": "1",
			"type": "jbquickview"
		},
		"00837676-3c48-4e02-82bb-33a1e174579e": {
			"name": "\u0418\u0437\u0431\u0440\u0430\u043d\u043d\u043e\u0435",
			"description": "",
			"access": "1",
			"menuitem": "101",
			"type": "jbfavorite"
		},
		"fca08c90-3c88-4fbe-814b-2ffcbb521e08": {
			"name": "\u0422\u0435\u043a\u0441\u0442",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"24d20439-3ceb-49dc-b965-b17498ef5af3": {
			"name": "\u0421\u0435\u043b\u0435\u043a\u0442",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "\u0421\u0435\u043b\u0435\u043a\u0442 1",
					"value": "\u0421\u0435\u043b\u0435\u043a\u0442 1"
				},
				"1": {
					"name": "\u0421\u0435\u043b\u0435\u043a\u0442 2",
					"value": "\u0421\u0435\u043b\u0435\u043a\u0442 2"
				},
				"2": {
					"name": "\u0421\u0435\u043b\u0435\u043a\u0442 3",
					"value": "\u0421\u0435\u043b\u0435\u043a\u0442 3"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"8b6a8171-6750-491f-a612-af70e0bca6dc": {
			"name": "\u0420\u0430\u0434\u0438\u043e",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "\u0420\u0430\u0434\u0438\u043e1",
					"value": "\u0420\u0430\u0434\u0438\u043e1"
				},
				"1": {
					"name": "\u0420\u0430\u0434\u0438\u043e2",
					"value": "\u0420\u0430\u0434\u0438\u043e2"
				},
				"2": {
					"name": "\u0420\u0430\u0434\u0438\u043e3",
					"value": "\u0420\u0430\u0434\u0438\u043e3"
				}
			},
			"type": "radio"
		},
		"57bae4b9-0376-478e-bed1-f3df8c3158c7": {
			"name": "\u0424\u043e\u0442\u043e",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_number": "10",
			"max_upload_size": "10000",
			"max_width": "1920",
			"max_height": "1080",
			"watermark_enable": "0",
			"watermark_path": "images\/watermark.png",
			"upload_by": "user",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"delete_type": "simple",
			"type": "jbimage"
		},
		"160a5690-d184-4a3a-8421-71ade99bb73a": {
			"name": "\u0426\u0435\u043d\u0430",
			"description": "",
			"access": "1",
			"only_selected": "1",
			"cache": "0",
			"type": "jbpriceplain"
		},
		"fbc7e6d8-a500-4a8d-8819-47963e04d7dc": {
			"name": "\u0427\u0435\u043a\u0431\u043e\u043a\u0441",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "1",
					"value": "1"
				},
				"1": {
					"name": "2",
					"value": "2"
				},
				"2": {
					"name": "3",
					"value": "3"
				},
				"3": {
					"name": "4",
					"value": "4"
				}
			},
			"type": "checkbox"
		},
		"5849f1b9-76ce-4128-b327-edae77756f32": {
			"name": "\u0414\u0430\u0442\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"a4d1460c-5923-437f-946e-3b826f8bff5f": {
			"name": "\u0421\u0441\u044b\u043b\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"9ce9fcaa-b8ce-4538-9afa-8050114cc4bc": {
			"name": "\u0421\u0432\u044f\u0437\u0430\u043d\u043d\u044b\u0435",
			"description": "",
			"access": "1",
			"type": "jbrelatedauto"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	},
	"zl": null
}