{
	"name": "\u0421\u043c\u0430\u0437\u043a\u0430 (\u0421\u043a\u043b\u0430\u0434)",
	"elements": {
		"9e0e34d6-d66a-406c-8fa3-a9663fd1622e": {
			"name": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"48256227-805c-446e-a1a0-de538ab3aac7": {
			"name": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"fe753ef2-0dad-4a41-87b8-e38bd87f2b01": {
			"name": "\u041f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "\u0413\u0430\u0437\u043f\u0440\u043e\u043c \u043d\u0435\u0444\u0442\u044c",
					"value": "gazprom-neft"
				},
				"1": {
					"name": "\u041b\u0443\u043a\u043e\u0439\u043b",
					"value": "lukojl"
				},
				"2": {
					"name": "\u041d\u041a \u0420\u043e\u0441\u043d\u0435\u0444\u0442\u044c",
					"value": "nk-rosneft"
				},
				"3": {
					"name": "Mobil",
					"value": "mobil"
				},
				"4": {
					"name": "Shell",
					"value": "shell"
				},
				"5": {
					"name": "\u041a\u0432\u0430\u043b\u0438\u0442\u0435\u0442-\u0410\u0432\u0438\u0430",
					"value": "kvalitet-avia"
				},
				"6": {
					"name": "\u0421\u043f\u0435\u0446\u0430\u0432\u0442\u043e\u043c\u0430\u0442",
					"value": "specavtomat"
				},
				"7": {
					"name": "\u0422\u043e\u043c\u0444\u043b\u043e\u043d",
					"value": "tomflon"
				},
				"8": {
					"name": "SKF",
					"value": "skf"
				},
				"9": {
					"name": "\u0410\u0433\u0440\u0438\u043d\u043e\u043b",
					"value": "agrinol"
				},
				"10": {
					"name": "\u041c\u043e\u0441\u043a\u043e\u0432\u0441\u043a\u0438\u0439 \u041d\u041c\u0417",
					"value": "moskovskij-nmz"
				},
				"11": {
					"name": "Total",
					"value": "total"
				},
				"12": {
					"name": "Fuchs",
					"value": "fuchs"
				},
				"13": {
					"name": "Agip",
					"value": "agip"
				},
				"14": {
					"name": "ELF",
					"value": "elf"
				},
				"15": {
					"name": "Castrol",
					"value": "castrol"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"8a34a0e5-bc7c-447c-935a-be5011e2aafd": {
			"name": "\u0422\u0430\u0440\u0430",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "0,07 \u043a\u0433",
					"value": "0-07-kg"
				},
				"1": {
					"name": "0,1 \u043a\u0433",
					"value": "01-kg"
				},
				"2": {
					"name": "0,12 \u043a\u0433",
					"value": "0-12-kg"
				},
				"3": {
					"name": "0,15 \u043a\u0433.",
					"value": "015-kg"
				},
				"4": {
					"name": "0,2 \u043a\u0433.",
					"value": "02-kg"
				},
				"5": {
					"name": "0,3 \u043a\u0433",
					"value": "03-kg"
				},
				"6": {
					"name": "0,38 \u043a\u0433",
					"value": "038-kn"
				},
				"7": {
					"name": "0,39 \u043a\u0433",
					"value": "039-kg"
				},
				"8": {
					"name": "0,4 \u043a\u0433",
					"value": "04-kg"
				},
				"9": {
					"name": "0,42 \u043a\u0433",
					"value": "042-kg"
				},
				"10": {
					"name": "0,435 \u043a\u0433",
					"value": "0435-kg"
				},
				"11": {
					"name": "0,5 \u043a\u0433",
					"value": "05-kg"
				},
				"12": {
					"name": "0,6 \u043a\u0433",
					"value": "06-kg"
				},
				"13": {
					"name": "0,65 \u043a\u0433",
					"value": "0-65-kg"
				},
				"14": {
					"name": "0,7 \u043a\u0433",
					"value": "0-7-kg"
				},
				"15": {
					"name": "0,75 \u043a\u0433",
					"value": "0-75-kg"
				},
				"16": {
					"name": "0,7945 \u043a\u0433",
					"value": "0-7945-kg"
				},
				"17": {
					"name": "0,8 \u043a\u0433",
					"value": "0-8-kg"
				},
				"18": {
					"name": "0,85 \u043a\u0433",
					"value": "0-85-kg"
				},
				"19": {
					"name": "0,9 \u043a\u0433.",
					"value": "09-kg"
				},
				"20": {
					"name": "1 \u043a\u0433",
					"value": "1-kg"
				},
				"21": {
					"name": "1,3 \u043a\u0433",
					"value": "1-3-kg"
				},
				"22": {
					"name": "1,5 \u043a\u0433",
					"value": "1-5-kg"
				},
				"23": {
					"name": "3 \u043a\u0433",
					"value": "3-kg"
				},
				"24": {
					"name": "4,5 \u043a\u0433",
					"value": "4-5-kg"
				},
				"25": {
					"name": "5 \u043a\u0433",
					"value": "5-kg"
				},
				"26": {
					"name": "7 \u043a\u0433",
					"value": "7-kg"
				},
				"27": {
					"name": "9 \u043a\u0433",
					"value": "9-kg"
				},
				"28": {
					"name": "10 \u043a\u0433",
					"value": "10-kg"
				},
				"29": {
					"name": "15 \u043a\u0433",
					"value": "15-kg"
				},
				"30": {
					"name": "15,5 \u043a\u0433",
					"value": "15-5-kg"
				},
				"31": {
					"name": "16 \u043a\u0433",
					"value": "16-kg"
				},
				"32": {
					"name": "16,3 \u043a\u0433",
					"value": "16-3-kg"
				},
				"33": {
					"name": "17 \u043a\u0433",
					"value": "17-kg"
				},
				"34": {
					"name": "17,5 \u043a\u0433",
					"value": "17-5-kg"
				},
				"35": {
					"name": "18 \u043a\u0433",
					"value": "18-kg"
				},
				"36": {
					"name": "19 \u043a\u0433",
					"value": "19-kg"
				},
				"37": {
					"name": "20 \u043a\u0433",
					"value": "20-kg"
				},
				"38": {
					"name": "22 \u043a\u0433",
					"value": "22-kg"
				},
				"39": {
					"name": "25 \u043a\u0433",
					"value": "25-kg"
				},
				"40": {
					"name": "39 \u043a\u0433",
					"value": "39-kg"
				},
				"41": {
					"name": "45 \u043a\u0433.",
					"value": "45-kg"
				},
				"42": {
					"name": "46 \u043a\u0433",
					"value": "46-kg"
				},
				"43": {
					"name": "48 \u043a\u0433",
					"value": "48-kg"
				},
				"44": {
					"name": "50 \u043a\u0433",
					"value": "50-kg"
				},
				"45": {
					"name": "54 \u043a\u0433",
					"value": "54-kg"
				},
				"46": {
					"name": "55 \u043a\u0433",
					"value": "55-kg"
				},
				"47": {
					"name": "2x31 \u043a\u0433",
					"value": "2x31-kg"
				},
				"48": {
					"name": "170 \u043a\u0433",
					"value": "170-kg"
				},
				"49": {
					"name": "174 \u043a\u0433",
					"value": "174-kg"
				},
				"50": {
					"name": "175 \u043a\u0433",
					"value": "175-kg"
				},
				"51": {
					"name": "176 \u043a\u0433",
					"value": "176-kg"
				},
				"52": {
					"name": "177 \u043a\u0433",
					"value": "177-kg"
				},
				"53": {
					"name": "178 \u043a\u0433",
					"value": "178-kg"
				},
				"54": {
					"name": "179 \u043a\u0433",
					"value": "179-kg"
				},
				"55": {
					"name": "180 \u043a\u0433",
					"value": "180-kg"
				},
				"56": {
					"name": "180 \u043a\u0433 + 1 \u043b",
					"value": "180-kg-1-l"
				},
				"57": {
					"name": "181 \u043a\u0433",
					"value": "181-kg"
				},
				"58": {
					"name": "182 \u043a\u0433",
					"value": "182-kg"
				},
				"59": {
					"name": "183 \u043a\u0433",
					"value": "183-kg"
				},
				"60": {
					"name": "184 \u043a\u0433",
					"value": "184-kg"
				},
				"61": {
					"name": "185 \u043a\u0433",
					"value": "185-kg"
				},
				"62": {
					"name": "190 \u043a\u0433",
					"value": "190-kg"
				},
				"63": {
					"name": "204 \u043a\u0433",
					"value": "204-kg"
				},
				"64": {
					"name": "220 \u043a\u0433",
					"value": "220-kg"
				},
				"65": {
					"name": "900 \u043a\u0433",
					"value": "900-kg"
				},
				"66": {
					"name": "0,25 \u043b",
					"value": "025-l"
				},
				"67": {
					"name": "0,3 \u043b",
					"value": "03-l"
				},
				"68": {
					"name": "0,4 \u043b",
					"value": "04-l"
				},
				"69": {
					"name": "0,946 \u043b",
					"value": "0-946-l"
				},
				"70": {
					"name": "1 \u043b",
					"value": "1-l"
				},
				"71": {
					"name": "3 \u043b",
					"value": "3-l"
				},
				"72": {
					"name": "3,78 \u043b",
					"value": "3-78-l"
				},
				"73": {
					"name": "17 \u043b",
					"value": "17-l"
				},
				"74": {
					"name": "18 \u043b",
					"value": "18-l"
				},
				"75": {
					"name": "18,9 \u043b",
					"value": "18-9-l"
				},
				"76": {
					"name": "20 \u043b",
					"value": "20-l"
				},
				"77": {
					"name": "20,5 \u043b",
					"value": "20-5-l"
				},
				"78": {
					"name": "180 \u043b",
					"value": "180-l"
				},
				"79": {
					"name": "203 \u043b",
					"value": "203-l"
				},
				"80": {
					"name": "205 \u043b",
					"value": "205-l"
				},
				"81": {
					"name": "207,9 \u043b",
					"value": "207-9-l"
				},
				"82": {
					"name": "208 \u043b",
					"value": "208-l"
				},
				"83": {
					"name": "209 \u043b",
					"value": "209-l"
				},
				"84": {
					"name": "210 \u043b",
					"value": "210-l"
				},
				"85": {
					"name": "216,5 \u043b",
					"value": "2165-l"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"d62ee7e9-d272-4d6a-aff3-5e5ce88d3e14": {
			"name": "\u0422\u043e\u0432\u0430\u0440\u044b \u0441 \u0432\u0430\u0440\u0438\u0430\u0446\u0438\u044f\u043c\u0438",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "smazka"
			},
			"revers_types": {
				"0": "3:smazka:ac16c2cd-36f2-40c5-b705-87c066bb2744"
			},
			"type_app": {
				"0": "2"
			},
			"type": "relateditemsmain"
		},
		"7a7addcf-406e-461c-9ace-a5b9ddd4a9e6": {
			"name": "\u0426\u0435\u043d\u0430",
			"description": "",
			"access": "1",
			"only_selected": "1",
			"cache": "0",
			"type": "jbpriceplain"
		},
		"b5622928-67d4-4374-8a6c-3364ba2d3bee": {
			"name": "\u041f\u043e\u0445\u043e\u0436\u0438\u0435 \u0442\u043e\u0432\u0430\u0440\u044b",
			"description": "",
			"access": "1",
			"type": "jbrelatedauto"
		},
		"103b323b-c943-40c0-851a-09572481bde3": {
			"name": "\u041a\u043d\u043e\u043f\u043a\u0430 \u041a\u0443\u043f\u0438\u0442\u044c",
			"description": "",
			"access": "1",
			"default": "116",
			"type": "joomlamodule"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}